.App {
    text-align: center;
}

.App-logo {
    height: 10vmin;
}

.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
}

.App-link {
    color: #09d3ac;
}

.App-intro {
    margin-top: 2.5rem;
}

.Begin-button {
    padding: 1rem;
    /* margin-top: 5rem; */
    border-radius: 30px;
}