.App {
    text-align: center;
    background-color: #fff;
}

.App-logo {
    height: 10vmin;
}

.App-header {
    background-color: #404E7C;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
}

.App-link {
    color: #09d3ac;
}

.App-intro {
    margin-top: 5rem;
}

.App-intro p {
    font-size: 1.4rem;
}

.Begin-button {
    padding: 1rem;
    border-radius: 30px;
    background-color: #DBCBD8;
    border-color: #DBCBD8;
    color: #101935;
    font-size: 1.2rem;
    margin-top: 5rem;
}

.Question h1 {
    margin-top: 2rem;
}

.option-A,
.option-B,
.option-C {
    padding: 1rem;
    background-color: #ffffff;
    color: #000;
    border: #fff;
}

.End-quiz,
.Next-question {
    margin: 0.4rem;
    padding: 1rem;
    border-radius: 30px;
}

.Next-question {
    background-color: #DBCBD8;
    border-color: #DBCBD8;
    color: #101935;
}

.End-quiz {
    background-color: #37393A;
    border-color: #37393A;
    color: #fff;
}

.QuestionContainer {
    border: 2px solid #404E7C;
    padding: 3rem;
    margin-top: 1rem;
}